<footer class="py-4 bg-dark footer-demodule">
    <div class="container bg-dark text-center text-white">
		<p class="m-0 copy_footer">
			<img alt="" src="img/unicorn3.png" width="50px" height="50px">
			Copyright &copy; ENI-Encheres 2021
			<img alt="" src="img/unicorn3.png" width="50px" height="50px">
		</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="${pageContext.request.contextPath}/vendor/jquery/jquery.min.js"></script>
<script src="${pageContext.request.contextPath}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>