<header class="py-3 bg-dark header-demodule fixed-top">
	<div class="container text-white" id="entete">
		<div id="logo">
			<a href="index.jsp">
				<img alt="" src="img/unicorn3.png" width="50px" height="50px">
				ENI-Encheres
				<img alt="" src="img/unicorn3.png" width="50px" height="50px">
			</a>
		</div>

		<div id="div_nav">
			<a href="${pageContext.request.contextPath}/ServletConnexion">
				<img alt="" src="img/unicorn4.png" width="20px" height="30px">
				S'inscrire - Se connecter
				<img alt="" src="img/unicorn4.png" width="20px" height="30px">
			</a>
		</div>
	</div>
</header>